@value unit, font, font-size, dark-gray-color, error-color from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  background: #fff;

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}

.widgetEditForm {
  margin-left: unit;
}

.sprintProgress {
  height: unit;
  margin-top: 32px;

  white-space: nowrap;
}

.sprintProgressBar {
  position: relative;

  display: inline-block;

  min-width: unit;
  margin-right: unit;

  background-color: #d1eefd;
}

.sprintProgressBarLabel {
  position: relative;

  display: inline-block;
  overflow: hidden;

  min-width: unit;
  margin-top: unit;
  margin-right: unit;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: dark-gray-color;
}

.sprintProgressData {
  position: absolute;
  bottom: 0;

  display: inline-block;

  width: 100%;

  background-color: #25b7ff;
}

.sprintProgressDataOverdue {
  background-color: #c10000;
}

.sprintCommonInfo {
  margin-bottom: unit;
}

.formPanelError {
  margin-bottom: unit;

  color: error-color;
}
