@value unit, font, font-size from "@jetbrains/ring-ui/components/global/global.css";

:global(.widget-body) {
  margin: 0;
  padding: calc(unit * 2);

  color: var(--ring-text-color);

  background: var(--ring-content-background-color);

  font-size: font-size;
}

.widget {
  composes: font;

  margin: 0;
  padding: 0;
}

.sprintProgress {
  height: unit;
  margin-top: 32px;

  white-space: nowrap;
}

.sprintProgressBar {
  position: relative;

  display: inline-block;

  min-width: unit;
  margin-right: unit;

  background-color: var(--ring-line-color);
}

.sprintProgressBarLabel {
  position: relative;

  display: inline-block;
  overflow: hidden;

  min-width: unit;
  margin-top: unit;
  margin-right: unit;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--ring-secondary-color);
}

.sprintProgressData {
  position: absolute;
  bottom: 0;

  display: inline-block;

  width: 100%;

  background-color: var(--ring-main-color);
}

.sprintProgressDataOverdue {
  background-color: var(--ring-error-color);
}

.sprintCommonInfo {
  margin-bottom: unit;
}
